/LojaChocolateAppView/packages/
/LojaChocolateAppView/.vs/
/LojaChocolateAppView/LojaChocolateApp/obj/
/LojaChocolateAppView/LojaChocolateApp/*.cs
/LojaChocolateAppView/LojaChocolateApp/*.ico
/LojaChocolateAppView/LojaChocolateApp/*.csproj
/LojaChocolateAppView/LojaChocolateApp/*.config
/LojaChocolateAppView/LojaChocolateApp/*.resx